.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 1092px;
}

.lessonGrid {
  max-width: 1092px;
  padding-top: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.lockText {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockIcon {
  margin: 4px;
}

.listGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listTitle{
  padding: 2px;
}